body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B6D0E2;
}

.header {
    text-align: center;
    text-transform: uppercase;
    background-color:#5F9EA0;
    color: white;
}


